---
cluster:
  name: demo-monitoring-tutorial

destinations:
  - name: loki
    type: loki
    url: http://loki-gateway.demo.svc.cluster.local/loki/api/v1/push
    extraHeaders:
      X-Scope-OrgID: demo
  - name: mimir
    type: prometheus
    url: http://mimir-distributor.demo.svc.cluster.local:8080/api/v1/push
    extraHeaders:
      X-Scope-OrgID: demo

clusterEvents:
  enabled: true
  collector: alloy-logs
  namespaces:
    - demo

nodeLogs:
  enabled: false

podLogs:
  enabled: true
  gatherMethod: kubernetesApi
  collector: alloy-logs
  
  # these become indexed 
  labelsToKeep: 
    - app
    - container
    - job
    - level  #filter by log level eg ({app="mealie", level="error"} ) 
    - namespace
  
  relabelConfigs:
      # Keep only pods with app=mealie label, anything after _pod_label_XXXX.. the XXXX is your label you defined for your pod in values for the pod
    - action: keep
      source_labels: [__meta_kubernetes_pod_label_app]
      regex: mealie
 
  #not really using this in demo, but showing how if action: replace doens't work which it didn't for Job for me,
  #you can use extraDiscoveryRules 
  #extraDiscoveryRules: |
  #  // Override job label for mealie pods
  #  rule {
  #    source_labels = ["__meta_kubernetes_pod_label_app"]
  #    regex = "mealie"
  #    action = "replace"
  #    target_label = "job"
  #    replacement = "mealie-logs"
  #  }

  #by moving pod and instance to structuredMetadata, you're saying: 
  #"I want these fields available with my logs, but I don't need to query/filter on them frequently, so don't index them."
  structuredMetadata:
    pod: pod
    instance: instance
  
  namespaces:
    - demo


clusterMetrics:
  enabled: true
  collector: alloy-metrics

podMetrics:
  enabled: true
  collector: alloy-metrics

# Collectors
alloy-singleton:
  enabled: false  #  disabled since we're not using it

alloy-metrics:
  enabled: true
  alloy:
    clustering:
      enabled: true
    alloy-metrics:
  enabled: true
  alloy:
    clustering:
      enabled: true

alloy-logs:
  enabled: true
  alloy:
    mounts:
      varlog: false
      dockercontainers: false
    clustering:
      enabled: true

integrations:
  collector: alloy-metrics
  destinations:
    - mimir
  mimir:
    instances:
      - name: mimir
        labelSelectors:
          app.kubernetes.io/name: mimir
        namespaces:
          - demo
        metricsTuning:
          useDefaultAllowList: false

alloy-profiles:
  enabled: false

alloy-receiver:
  enabled: false
