apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
  namespace: meta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      #can have multiple images
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.3.0
        name: mealie-image
        ports: 
          - containerPort: 9000
